
<footer id="futer1" class="futer-global">
<section class="Nuestras-Marcas">
  <div class="provisional">
  <h2>NUESTRAS MARCAS</h2>
  <p>La malta que utilizamos en nuestras cervezas se caracteriza por 
    su calidad excepcional y un sabor inigualable, convirtiendo cada 
    trago en una experiencia única y deliciosa.</p>
<div class="carrusel-futer">
  <div class="slides-container">
    <div class="marcas-slide">
      <img src="/src/marcas/marca1.png" alt="Malta">
      <img src="/src/marcas/marca2.png" alt="Malta">
      <img src="/src/marcas/marca3.png" alt="Malta">
      <img src="/src/marcas/marca4.png" alt="Malta">
    </div>
    </div>
    <!--<div class="marcas-slide">
      <img src="/src/marcas/marca5.png" alt="Malta">
      <img src="/src/marcas/marca6.png" alt="Malta">
      <img src="/src/marcas/marca7.png" alt="Malta">
      <img src="/src/marcas/marca8.png" alt="Malta">
    </div>-->
  </div>
</div>

<div class="centrarfuter">
<section class="futer-nomark">
<div class="futer-1">
  <h4>Greek Beer</h4>
  <ul class="list-contac-futer">
    <li><a><img src="/src/svg/map.svg" alt="Dirección">Venado Tuerto, Roca 1563</a></li>
    <li><a href=""><img src="/src/svg/phone.svg" alt="Teléfono">Teléfono</a></li>
    <li><a href="mailto:cerveza.greek.beer@gmail.com"><img src="/src/svg/mail.svg" alt="Mail">cerveza.greek.beer@gmail.com</a></li>
    <li><a href="https://www.instagram.com/greek.beer/"
    target="_blank" 
    rel="noopener noreferrer">
    <img src="/src/svg/ig.svg" alt="Instagram">Instagram</a></li>
    <li><a href="https://api.whatsapp.com/send/?phone=%2B5493462569577&text&type=phone_number&app_absent=0"
    target="_blank" 
    rel="noopener noreferrer"
    ><img src="/src/svg/wasap.svg" alt="Whatsapp">WhatsApp</a></li>
    <li><a href="https://www.facebook.com/greekbeer.vt"
    target="_blank" 
    rel="noopener noreferrer">
    <img src="/src/svg/facebook.svg" alt="Facebook">Facebook</a></li>
  </ul>
</div>

<div class="futer-2">
  <h4>Productos</h4>
<nav>
  <a href="catalogo.html">Cervezas</a>
  <a href="catalogo.html">Chopperas</a>
  <a href="catalogo.html">Growlers</a>
  <a href="catalogo.html">Botellas</a>
</nav>
</div>

<div class="futer-3">
<h4>Más Información</h4>
<nav>
  <a href="index.html">Inicio</a>
  <a href="catalogo.html">Catalogo</a>
  <a href="contacto.html">Contacto</a>
  <a href="nosotros.html">Nosotros</a>
</nav>
</div>

<span><a href="https://tomascepeda.dev"
  target="_blank" 
  rel="noopener noreferrer"
  >
  © Tomás Cepeda.</a> Todos los derechos reservados.</span>
</section>
</div>
</footer>
