    <header id="header1">
        
        <nav class ="header1">
            <span class="headersvg">
                <img src="/src/logo-ico.ico" class="logoico" alt="">
               <span class="logotext">Greek Beer</span>
            </span>
            <div class="center">
            <a href="index.html">Inicio</a>
            <a href="catalogo.html">Catálogo</a>
            <a href="contacto.html">Contacto</a>
            <a href="nosotros.html">Nosotros</a>
        </div>
        </nav>
    </header>